name: MERN CI/CD

on:
push:
branches: [ main ]

jobs:
build-push-deploy:
runs-on: ubuntu-latest

```
steps:
  - name: Checkout
    uses: actions/checkout@v4

  # Login Docker Hub
  - name: Docker Login
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_PASSWORD }}

  # Build backend image (repo auto-created on push)
  - name: Build Backend
    run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ecomm-backend:latest ./backend

  - name: Push Backend
    run: docker push ${{ secrets.DOCKER_USERNAME }}/ecomm-backend:latest

  # Build frontend image
  - name: Build Frontend
    run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ecomm-frontend:latest ./frontend

  - name: Push Frontend
    run: docker push ${{ secrets.DOCKER_USERNAME }}/ecomm-frontend:latest

  # Deploy to VM using PEM
  - name: Deploy via SSH
    uses: appleboy/ssh-action@v1
    with:
      host: ${{ secrets.SSH_HOST }}
      username: ${{ secrets.SSH_USER }}
      key: ${{ secrets.SSH_PRIVATE_KEY }}
      script: |
        docker pull ${{ secrets.DOCKER_USERNAME }}/ecomm-backend:latest
        docker pull ${{ secrets.DOCKER_USERNAME }}/ecomm-frontend:latest
        cd ~/E-Comm
        docker compose up -d
```
